--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
fastapi
uvicorn[standard]
redis
pydantic
python-dotenv
google-cloud-aiplatform
pandas
scikit-learn
itsdangerous
starlette
google-generativeai
chromadb
pypdf2
pdfplumber
langchain
langchain-text-splitters
reportlab
beautifulsoup4
requests
schedule
tqdm
numpy
urllib3
