fastapi
uvicorn[standard]
redis
pydantic
python-dotenv
google-cloud-aiplatform
pandas
sentence-transformers
scikit-learn
torch
itsdangerous
starlette
google-generativeai
chromadb
pypdf2
pdfplumber
langchain
langchain-text-splitters
reportlab
